.drawing-input {
  margin-bottom: 16px;
}
.drawing-input > span{
  display: inline-block;
  width: 60px;
}
.drawing-pic-delete {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  line-height: 24px;
  text-align: center;
}