html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

:root {
  --color-hover: #1890ff;
  --bg-color-cover: rgba(0, 0, 0, 0.35);
  --bg-color-white: rgba(255, 255, 255, 1);

  --spacing-half: 2px;
  --spacing-1x: 8px;
  --spacing-2x: 16px;
  --spacing-3x: 24px;
  --spacing-4x: 32px;
  --spacing-8x: 64px;
}
