<div class="forgotPassword">
  	<div class="bgImage"> 		
  		<div class="resetPasswordForm">
	 		<form class="form-horizontal" name="resetPasswordForm" novalidate>	 			
		    	<div class="form-group">
			      	<label class="control-label col-xs-4">New Password</label>
			      	<div class="col-xs-8">
			        	<input type="password" class="form-control" ng-model="newPassword" name="newPassword" ng-minlength="6" required=""/>
		          		<div ng-show="resetPasswordForm.$submitted || resetPasswordForm.newPassword.$touched">
			              	<div class="error" ng-show="resetPasswordForm.newPassword.$error.required">New Password is required.</div>
			        	</div>
			            <div class="error" ng-show="resetPasswordForm.newPassword.$error.minlength">Password must be between 6 and 50 characters.</div>
			            <div class="error" ng-show="resetPasswordForm.newPassword.$error.maxlength">Password is too long.</div>
					</div>
		    	</div>
		    	<div class="form-group">
			      	<label class="control-label col-xs-4">Confirm Password</label>
			      	<div class="col-xs-8">
			        	<input type="password" class="form-control" ng-model="confirmPassword" name="confirmPassword" ng-minlength="6" required=""/>
		          		<div ng-show="resetPasswordForm.$submitted || resetPasswordForm.confirmPassword.$touched">
			              	<div class="error" ng-show="resetPasswordForm.confirmPassword.$error.required">Confirm Password is required.</div>
			        		<div class="error" ng-show="newPassword !== confirmPassword">Password should be match.</div>			
			        	</div>				
					</div>
		    	</div>
		    	<div class="form-group">
		    		<div class="col-xs-offset-4 col-xs-8">			    		
					    <button class="btn btn-primary right" type="submit" ng-click="vm.Confirm()">Confirm</button> 
					    <a class="btn btn-warning right margin_right" type="button" ui-sref="login">Cancel</a>
			    	</div>
		    	</div>
	    	</form>
		</div>
	</div>
 </div>