<div class="custom-modal">
  	<div class="modal-header modal-header-custom">
    	<h2 class="text-center">Forgot Password</h2>
  	</div>
    <div class="modal-body">
	  	<label ng-click="selectAccessCode = !selectAccessCode">
	  		<input type="radio" ng-model="forgotPassword" value="AccessCode"> Access Code
	  	</label><br/>
	  	<form class="form-horizontal" name="forgotPasswordForm" novalidate  ng-show="selectAccessCode">
	  		<div class="form-group">
		      <label class="control-label col-xs-4 asterisk">Access Code</label>
		      <div class="col-xs-8">
		        <input type="text" class="form-control" ng-model="accessCode" name="accessCode" required=""/>
		        <div ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.accessCode.$touched">
		      		<div class="error" ng-show="forgotPasswordForm.accessCode.$error.required">Access Code is required.</div>
		    	</div>
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-xs-4 asterisk">Username</label>
		      <div class="col-xs-8">
		        <input type="text" class="form-control" ng-model="userNameForAccessCode" name="userNameForAccessCode" required=""/>
		        <div ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.userName.$touched">
		      		<div class="error" ng-show="forgotPasswordForm.userName.$error.required">Username is required.</div>
		    	</div>
		      </div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-xs-4 asterisk">New Password</label>
               <div class="col-xs-8">
              	<input type="password" class="form-control" ng-model="password" name="password"
                    ng-minlength="8" ng-maxlength="50" required=""/>

	              <div ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.password.$touched">
	                <div class="error" ng-show="forgotPasswordForm.password.$error.required">Password is required.</div>
	                <div class="error" ng-show="forgotPasswordForm.password.$error.minlength">Password must be between 8 and 50
	                  characters.
	                </div>
	                <div class="error" ng-show="login_form.password.$error.maxlength">Password is too long.</div>
	              </div>
	             </div>
            </div>
		    <div class="form-group">
		    	<div class="col-md-12">
		    		<button type="submit" class="btn btn-warning modalBtnSmall right" ng-click="resetPasswordWithAccessCode()">Submit</button>
				</div>
			</div>
		</form>

	  	<label ng-click="selectEmail = !selectEmail">
	  		<input type="radio" ng-model="forgotPassword" value="Email"> Email
	  	</label>
		<form class="form-horizontal" name="forgotPasswordForm" novalidate ng-show="selectEmail">
		    <div class="form-group">
		      <label class="control-label col-xs-4 asterisk">Username</label>
		      <div class="col-xs-8">
		        <input type="text" class="form-control" ng-model="userName" name="userName" required=""/>
		        <div ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.userName.$touched">
		      		<div class="error" ng-show="forgotPasswordForm.userName.$error.required">Username is required.</div>
		    	</div>
		      </div>
		    </div>
		    <div class="form-group">
		    	<div class="col-md-12">
		    		<button type="submit" class="btn btn-warning modalBtnSmall right" ng-click="requestResetPasswordwithEmail()">Submit</button>
				</div>
			</div>
		</form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning modalBtnSmall" type="button" ng-click="cancel()">Cancel</button>
    </div>

</div>
