<div ng-controller="openHeaderController as vm">
	<div class="headerContainer">
	    <div class="col-xs-5">
	        <!-- <span ng-if="vm.assignmentId === undefined">
	        	<a ui-sref="home"><img src="images/back-button.png"></a>
	        </span>
	        <span ng-if="vm.assignmentId !== undefined">
	        	<a ui-sref="assignment"><img src="images/back-button.png"></a>
	        </span> -->
	    </div>
	    <div class="col-xs-7"><span class="page_title"> iChineseReader </span></div>
	</div>
</div>
